@import-normalize;
@import url("https://fonts.googleapis.com/css?family=Raleway:200i,300,400&display=swap");

html {
  --primaryBackground: #ffffff;
  --primaryColor: #000000;
  background-color: var(--primaryBackground);
}

html {
  &[data-theme="light-purple"] {
    --primaryBackground: #ffffff;
    --primaryColor: #ac53f2;
    --primaryTitles: #000;
    --secondaryColor: #000;
  }

  &[data-theme="light-green"] {
    --primaryBackground: #ffffff;
    --primaryColor: #09c62a;
    --primaryTitles: #000;
    --secondaryColor: #000;
  }

  &[data-theme="dark-purple"] {
    --primaryBackground: #000;
    --primaryColor: #ac53f2;
    --primaryTitles: #ac53f2;
    --secondaryColor: #efefefd1;
  }

  &[data-theme="dark-green"] {
    --primaryBackground: #000;
    --primaryColor: #09c62a;
    --primaryTitles: #09c62a;
    --secondaryColor: #efefefd1;
  }
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100vh;
}
